// src/styles/layout/header.scss
.header {
    background-color: red;
    padding: 20px;
  }
  
  .header__logo {
    width: 100px;
  }
  
  .header__link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  