.logement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .logement-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .logement-info {
    flex: 1;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }

    .location {
      font-size: 1rem;
      color: black;
    }

    .tags {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .tag {
        background-color: #FF6060;
        color: white;
        padding: 3px 30px;
        border-radius: 40px;
        font-size: 0.8rem;
      }
    }
  }

  .host-rating {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .host {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: right;

      p {
        font-size: 0.9rem;
        font-weight: 500;
        color: #FF6060;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

  
  }

  .logement-collapse {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    > .collapse {
      flex: 1;
      align-self: flex-start;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
