.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px 20px;
    text-align: center;
    gap: 31px;
    color: #FF6060;

  .notfound-title {
    font-size: 10rem;
    font-weight: 700;
    margin: 0;
  }

  .notfound-text {
    font-size: 1.5rem;
    max-width: 600px;
  }

  .notfound-link {
    color: black;
    font-size: 12px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    .notfound-title {
      font-size: 6rem;
    }

    .notfound-text {
      font-size: 1rem;
    }
  }
}
